### Compute and plot Solar System Orbits

1. Complete all of the missing solar system orbital parameters by adding code cells below. 
2. Upload a new 'updated_solar_system_orbits.csv' to the project.
3. Plot the inner solar system orbits Mercury-Jupiter using matplotlib
4. Plot the outer solar system orbits Saturn-Eris using matplotlib

![Some Hints](IMG_5148.JPG)

In [1]:
# Import modules that contain functions we need
import pandas as pd # pandas is common for data science
import numpy as np # NumPy is used a lot in science
import math # we need the math class for pi
%matplotlib inline 
import matplotlib.pyplot as plt # MatPlotLib is the plotting standard

In [3]:
# Read in the Github data that will be used for the calculations.
data1 = pd.read_csv("solar_system_orbits.csv")
data1

,Planet,Semimajor Axis (AU),Period (y),Eccentricity,Semifocal Distance (AU),Semiminor Axis (AU),Perihelion Distance (AU)
0,Mercury,0.39,0.24,0.210,NaN,NaN,NaN
1,Venus,0.72,0.60,0.010,NaN,NaN,NaN
2,Earth,1.00,1.00,0.020,NaN,NaN,NaN
3,Mars,1.52,1.88,0.090,NaN,NaN,NaN
4,Encke,2.21,3.30,0.847,NaN,NaN,NaN
5,Vesta,2.36,3.63,0.090,NaN,NaN,NaN
6,Ceres,2.77,4.60,0.080,NaN,NaN,NaN
7,Pallas,2.77,4.62,0.230,NaN,NaN,NaN
8,Jupiter,5.20,11.86,0.050,NaN,NaN,NaN
9,Saturn,9.54,29.46,0.060,NaN,NaN,NaN
10,Halley,17.94,76.10,0.967,NaN,NaN,NaN
11,Uranus,19.19,84.01,0.050,NaN,NaN,NaN
12,Neptune,30.06,164.82,0.010,NaN,NaN,NaN
13,Pluto,39.40,247.00,0.244,NaN,NaN,NaN
14,Haumea,43.18,283.77,0.194,NaN,NaN,NaN
15,Makemake,45.43,306.22,0.161,NaN,NaN,NaN
16,Eris,67.70,559.08,0.436,NaN,NaN,NaN